{% include 'user_header.html'%}
              <h1
                style="color:#1b2f45; font-size: 50px;font-weight: 600;font-family: Georgia, 'Times New Roman', Times, serif; text-align: center;">
                Welcome to <span style="font-weight: 800; font-style: italic;color: #06567b;">"Depression Level
                  Test"</span></h1>
              <br><br>

              <i>
                <img src="static/assets/img/q8.png" alt="" class="center">
              </i>
              <br>
              <br>

              <p
                style=" text-align: center; font-size: 45px; color: #1b2f45; font-weight: 600;font-family: Georgia, 'Times New Roman', Times, serif ; ">
                Instructions</p>
              <!-- <div><span style="font-size: 35px;">Depression Level Test</span><br> -->
              <div style="margin-left: 100px; ">
                <span style="font-size: 30px;">The setting for this test are as below:</span><br>
                <div style="margin-left: 100px;">
                  <ul style="list-style-type:disc;">
                    <li class="mt-3">There are three levels in this test.</li>
                    <li class="mt-2">First Level is <b>Text Classifier</b> , after completing this level
                      click <span class="btn">Next</span>
                      Button.
                    </li>
                    <li>Second Level is <a href=""></a> <b>Audio Classifier</b> , kindly complete it, then click <span
                        class="btn">Next</span> Button.</li>
                    <li>Final Level is <b> Video Classifier </b>, quit it after 30 seconds, use Keyboard Key <span
                        class="btn">Q</span> to
                      Quit.
                    </li>
                  </ul>
                  <br><br>
                </div>
              </div>
            </div>
            <table style="text-align: center; margin: 0 auto;">
              <tr>
                <td>
                  <a href="take_test" class="btn-btn success"
                    style="display: inline-block; padding: 10px 20px; font-size: 20px; color: white; background-color: #1b2f45; text-decoration: none; border-radius: 5px; text-align: center;">
                    Start
                  </a>
                </td>
              </tr>
            </table>
  {% include 'footer.html'%}

  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .btn {
      font-family: var(--font-secondary);
      /* font-weight: 500; */
      font-size: 15px;
      letter-spacing: 1px;
      /* display: inline-block; */
      /* border-radius: 50px; */
      /* transition: 0.5s; */
      color: #fff;
      background: #1b2f45;
    }
  </style>