{% include 'user_header.html'%}
<div class="profile">
  <div class="breadcrumbs d-flex align-items-center" style="background-color: #1b2f45">
  </div><!-- End Breadcrumbs -->
  <div>
    <main id="main">



      <!-- ======= Section-2 ======= -->
      <section id="contact" class="contactt">
        <div class="container position-relative d-flex flex-column ">
          <div class="row">
            <div>
              <!-- <h1 style="color: #06567b;">View Notification</h1> -->
              <br>
              <form method="post" class="php-email-form">
                <table class="table-borderless" align="center" style="text-align: center;">
                  <tr>
                    <th style="font-size: 70px;font-family: 'Times New Roman', Times, serif;color: #074287;">
                      You
                      Successfully Completed
                      the Assessment. <br><br></th>
                  </tr>


                  <tr>
                    <td>
                      <i class="bi bi-check-circle-fill" style="font-size: 200px;color: green;"></i>
                    </td>
                  </tr>
                  <tr>
                    <th
                      style="font-size: 17px;font-family:Georgia, 'Times New Roman', Times, serif;font-style: italic;color: #bb2121;">
                      <br>Thank You <br><br><br><br>
                    </th>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
      </section><!-- End Section-2 -->
    </main>

    {% include 'footer.html'%}